{% extends 'base.html' %}

{% block content %}
    <div class=" text-center">
        <img src="../static/images/logoUS.png" alt="Logo de la Universidad de Sevilla" class="img-fluid mb-4" style="max-width: 200px;">
        <h1 class="display-4">Acerca de la Universidad de Sevilla</h1>
        <p class="lead">La Universidad de Sevilla es una institución educativa líder en España, dedicada a la excelencia académica y a la investigación.</p>
        <hr class="my-4">
        <p>Con una rica historia y una sólida reputación, la Universidad de Sevilla se enorgullece de ofrecer una educación de alta calidad a estudiantes de diversas disciplinas.</p>
        <p>Explora nuestra página para conocer más sobre nuestras facultades, programas de estudio y actividades de investigación.</p>
    </div>
{% endblock content %}
