{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Volt-Go</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://js.stripe.com/v3/"></script>

    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        #wrapper {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        #content {
            flex: 1;
        }
    </style>
</head>

<body>

    <div id="wrapper">
        <div class="text-center">
            {% include "navbar.html" %}
        </div>
        <br />
        <br />
        <br />
        <div id="content" class="container">
            <br />
            {% block content %}
            {% endblock content %}
        </div>

        <footer class="bg-dark text-white text-center pb-5 pt-3">
            <p>VoltGo 2023 | Desarrollado por SharkByte</p>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>