{% extends "base.html" %}

{% block content %}
<h3 class="display-5">Gestión de Ventas</h3>
<hr>

<div class="row">
    {% for venta in ventas %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Venta #{{venta.pk}}</h5>
                <p class="card-text"><strong>Cliente:</strong> {{ venta.usuario.user.first_name }} {{ venta.usuario.user.last_name }} </p>
                <p class="card-text"><strong>Producto:</strong> {{ venta.producto }}</p>
                <p class="card-text"><strong>Fecha de venta:</strong> {{ venta.fecha_inicio }}</p>
                <p class="card-text"><strong>Pago:</strong> {{ venta.get_tipo_pago_display }}</p>
                <p class="card-text"><strong>Estado:</strong> {{ venta.get_estado_producto_display }}</p>
                <p class="card-text"><strong>Envío:</strong> {{ venta.get_estado_envio_display }}</p>
                <a href="{% url 'tienda:eliminar_venta' venta.pk %}">
                    <button type="button" class="btn btn-danger">
                        <i class="fa fa-trash-o fa-lg"></i> Eliminar
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 and not forloop.last %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}
</div>

{% if not ventas %}
<div class="alert alert-warning mt-4" role="alert">
    <p class="mb-0">No hay ninguna venta :(</p>
</div>
{% endif %}
{% endblock %}