{% extends "base.html" %}
{% block content %}
<main>
    <form method="post" id="checkout-form">
        {% csrf_token %}
        <section class="d-flex flex-column align-items-center">
            <header>
                <h1>Resumen del pedido</h1>
            </header>
            <article class="d-flex flex-column">
                <header>
                    <h2>Información de los artículos</h2>
                </header>
                <ul>
                    {% for item in items %}
                        <li>{{ item.producto.nombre }} x {{ item.cantidad }}</li>
                    {% endfor %}
                </ul>
                <hr>
                <p><strong>PEDIDO:</strong> {{ pedido }} €</p>
                <p>
                    <strong>ENVÍO:</strong> {{ envio }} €
                    {% if envio == 0 %}
                    <br>* Pedidos superiores a 50€ no pagan envío.
                {% endif %}
                </p>
                
                <p><strong>TOTAL:</strong> {{ total }} €</p>
            </article>
            <article class="d-flex flex-column">
                <header>
                    <h2>Información personal</h2>
                </header>
                {{ form_cliente }}
            </article>
            <article class="d-flex flex-column">
                <header>
                    <h2>Información del envío</h2>
                </header>
                {{ form_direccion }}
            </article>
            <article class="d-flex flex-column">
                <header>
                    <h2>Información del pago</h2>
                </header>
                {{ form_tarjeta }}
            </article>
            <button type="button" class="btn btn-success mb-3" onclick="crear_sesion_pago()"><strong>Encargar/pagar ahora</strong></button>
        </section>
    </form>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripePublicKey = "{{ stripe_public_key }}";
                var stripe = Stripe(stripePublicKey);
                var tipoPago = "pasarela";
               
                var tipoPagoInput = document.querySelector('#id_tipo_pago');
                var refererUrl = document.referrer;
                console.log(refererUrl)

                function crear_sesion_pago(){
                var tipoPago = tipoPagoInput.options[tipoPagoInput.selectedIndex].text;
                console.log(tipoPago)
                var emailInput = document.querySelector('#id_email'); 
                var email = emailInput.value;
               
                
                
                    if(tipoPago == 'Pasarela de pago'){
                        fetch('/tienda/checkout/', {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": "{{ csrf_token }}"
                            },
                            body: JSON.stringify({
                                items: "{{ items }}",
                                email: email,
                                refererUrl: refererUrl
                            })
                        })
                        .then(response => response.json())
                        .then(session => {
                            return stripe.redirectToCheckout({sessionId: session.id});
                        })
                        .then(result => {
                            if(result.error) {
                                alert(result.error.message);
                            }
                        })
                        .catch(error => {
                            console.error("Error: ", error);
                        })
                    }
                }
            </script>
    
</main>
{% endblock content %}