main {
  padding: 0 20%;
}

#informacion-moto {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5%;
}

#contenedor-img-moto {
  display: grid;
  place-content: center;
}

#img-moto {
  width: 90%;
  height: auto;
  border-radius: 5px;
}

#catalogo-img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#producto-catalogo{
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}