#nav-elemento {
    margin-left: 40px;
}

#imageCarousel {
    width: 50%; 
    margin-left: 0;
    margin-bottom: 10px;
}

#descripcion-container {
    margin-top: 140px;
    
}

#descripcion {
    margin-top: 40px;
    margin-left: 150px;

}

#subtitulo {
    margin-left: 150px;
}

