{% extends "base.html" %}

{% block content %}
<div class="container pb-5 mb-5">
    <h1 class="text-center">Catálogo de Motos Eléctricas</h1>

    <div class="row mt-4 ml-4 pl-4 pb-4">
        <form method="get" class="form-inline mx-auto" id="filtroForm">
            <div class="form-group mr-2">
                <label for="{{ form.nombre.id_for_label }}">Nombre:&nbsp;&nbsp;</label>
                {{ form.nombre }}
            </div>
            &nbsp;
            <div class="form-group mr-2">
                <label for="{{ form.empresa.id_for_label }}">Empresa:&nbsp;&nbsp;</label>
                {{ form.empresa }}
            </div>

            <div class="form-group mr-2">
                <label for="{{ form.precio_maximo.id_for_label }}">Precio Máximo:&nbsp;&nbsp;</label>
                {{ form.precio_maximo }}
            </div>

            <button type="submit" class="btn btn-primary mr-3"><i class="fa fa-search"></i> Buscar</button>
            <button type="button" class="btn btn-danger" onclick="resetFilters()">Limpiar</button>
        </form>
    </div>
    {% for empresa, productos in productos_por_empresa.items %}
    <h2 class="text-center">{{ empresa }}</h2>
    <div class="row mb-3 pb-3">
        {% for producto in productos %}
        <div class="col-md-3">
            <div class="card">
                <a href="{% url 'producto:detalle-producto' pk=producto.producto.id %}">
                    <img class="card-img-top" src="{{ producto.producto.url_imagen }}"
                        alt="{{ producto.producto.nombre }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ producto.producto.nombre }}</h5>
                    <p class="card-text">Precio: ${{ producto.producto.precio_base }}</p>
                    <p class="card-text">Autonomía: {{ producto.autonomia }} horas</p>
                    <p class="card-text">Velocidad Máxima: {{ producto.velocidad_maxima }} Km/h</p>
                    {% if producto.producto.stock == 0 %}
                    <p class="card-text text-danger"><strong>No hay stock</strong></p>
                    {% else %}
                    <p class="card-text"><strong>Stock: {{ producto.producto.stock }} uds</strong></p>
                    {% endif %}
                    <a href="{% url 'producto:detalle-producto' pk=producto.producto.id %}" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

    {% if not productos_por_empresa %}
    <p>No se encontraron productos</p>
    {% endif %}
</div>
<script>
    function resetFilters() {
        var form = document.getElementById("filtroForm");
        form.reset();
    }
</script>
{% endblock %}

