{% extends "base.html" %}

{% block content %} 
<main class="container mt-4">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          src="{{ object.url_imagen }}"
          alt="Foto de {{ object.nombre }}"
          class="card-img-top"
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h1 class="card-title display-4">Tecnología de {{ object.empresa }}</h1>
          <h2 class="h3">{{ object.nombre }}</h2>
          <p class="lead">{{ object.precio_base }} €/hora</p>
          <p class="lead">Stock: {{ object.stock }} uds.</p>
          <form method="post" action="{% url 'agregar-al-carrito' pk=object.pk %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad:</label>
              <input type="number" name="cantidad" id="cantidad" class="form-control" min="1" max="{{ object.stock }}" value="1">
            </div>
            <button type="submit" class="btn btn-primary">
              Reservar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <h1>Descripción</h1>
      <p>{{ object.descripcion }}</p>
    </div>

    {% if object.caracteristicas %}
    <div class="col-md-6">
      <h1>Características</h1>
      <ul class="list-group">
        {% for c in object.caracteristicas.all %}
        <li class="list-group-item">{{ c.get_nombre_display }}: {{ c.valor }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
</main>
{% endblock content %}
