{% extends "base.html" %}
{% block title %}Crea una cuenta - Tu Sitio{% endblock %}

{% block content %}
<div id="register-form" class="text-center">
  <h1>Crea una cuenta</h1>
  <p>Utiliza el siguiente formulario:</p>
  <form method="post">
    {% csrf_token %}
    {{ user_form.as_p }}
    <p><input id="boton" type="submit" value="Registrarse" /></p>

    {% if user_form.errors %}
    <div class="error-message">
      <p style="color: red;;">Por favor, corrige los errores.</p>
    </div>
    {% endif %}
  </form>
</div>
{% endblock content %}